[Unit]
Description=Flask Auth Example App
After=network.target

[Service]
User=devops
WorkingDirectory={{ app_dir }}
ExecStart={{ venv_dir }}/bin/python {{ app_dir }}/main.py
Restart=always
StandardOutput=append:{{ flask_log }}
StandardError=append:{{ flask_log }}

[Install]
WantedBy=multi-user.target